backend/node_modules
backend/data/devices.json
backend/data/.key
backend/data/groups.json
backend/data/alerts.json
backend/data/customCommands.json
backend/data/autoBackupConfig.json
backend/data/auto-backups
backend/data/clientSettings.json
.git
*.log
windows
INSTALL.md
CHANGELOG.md
README.md
DOCKER.md
