node_modules/
**/data/devices.json
**/data/.key
**/data/groups.json
**/data/alerts.json
**/data/customCommands.json
**/data/auth.json
**/data/.session-secret
**/data/autoBackupConfig.json
**/data/auto-backups/
**/data/clientSettings.json
**/data/apiTokens.json
**/data/statsHistoryConfig.json
**/data/stats-history/
/data/
*.log
